<div class="container">
  <div class="row">
    <div class="col-md-11">
      <h1 class="my-3 pb-2 border-bottom">Articles</h1>
      <% @articles.each do |article| %>
        <div class="article">
          <div class="row">
            <div class="col-sm-4">
            <%= link_to article_path(article) do%>
              <%= image_tag article.image, class: "article-image-index mb-3"%>
            <% end %>
            </div>
            <div class="col-sm-8">
              <%= link_to article_path(article) do%>
                <h2 class="mb-2"><%= article.title %></h2>
              <% end %>
              <p class="acticle-author-index mb-2">By <%= article.author %></p>
              <p>
                <%= article.excerpt %>
              </p>
              <%= link_to "Read more", article_path(article), class: "btn btn-primary", role: "button"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>