<div class="container">
  <div class="row">
    <div class="col-md-11">
      <h1 class="my-3 pb-2 border-bottom">Articles</h1>
      <% if current_user && current_user.email == 'admin@techblog.com'%>
        <div class="mb-2">
          <%= link_to 'New article', new_article_path %>
        </div>
      <% end %>
      <% @articles.each do |article| %>
        <div class="article">
          <div class="row">
            <div class="col-sm-4">
            <%= link_to article_path(article) do%>
              <% if article.image %>
                <%= image_tag article.image, class: "article-image-index mb-3" %>
              <% else %>
                <%= image_tag url_for(article.image_file), class: "article-image-index mb-3"%>
              <% end %>
            <% end %>
            </div>
            <div class="col-sm-8">
              <%= link_to article_path(article) do%>
                <h2 class="mb-2"><%= article.title %></h2>
              <% end %>
              <div class="row mx-0">
                <p class="acticle-metadata-index mb-2">By <%= article.author %></p>
                <p class="acticle-metadata-index mb-2 mx-3">
                  Published on <%= article.created_at.strftime("%Y-%m-%d") %>
                </p>
              </div>
              <p>
                <%= article.excerpt %>
              </p>
              <div class="row mx-0">
                <%= link_to "Read more", article_path(article), class: "btn btn-primary", role: "button" %>
                <% if current_user && current_user.email == 'admin@techblog.com'%>
                  <%= link_to "Edit", edit_article_path(article), class: "mx-4" %>
                  <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>